{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container" style="margin-top: 5%; margin-bottom: 5%;">
        <form action="{% url 'builder' %}" method="POST">
            {% csrf_token %}
            <div class="row" id="builder">
                <div class="col" style="padding: 2%;">
                    <h1>1) Your Requirement</h1>
                    <select name="requirement">
                        <optgroup label="More Options Coming Soon!">
                            {% for category in categories %}
                                <option value="{{ category.name }}">{{ category.name }}</option>
                            {% endfor %}
                        </optgroup>
                    </select>
                </div>
            </div>
            <div class="row" id="builder">
                <div class="col" style="padding: 5%;">
                    <h1>2) Your Budget</h1>
                    <select name="budget">
                        <optgroup label="Choose one">
                            {% for price in prices %}
                                <option value="{{ price.amount }}" selected="">{{ price.amount }}</option>
                            {% endfor %}
                        </optgroup>
                    </select>
                    <br>
                    <button type="submit" class="btn-primary" style="margin-top: 2%;">Submit</button>
                </div>
            </div>
        </form>
        {% if request.method == "POST" %}
            <div class="row" id="builder">
                <div class="col" style="padding: 2%;">
                    <center>
                        <h1>Recommended Configuration</h1>
                        <table border="1px solid light_blue;" cellpadding="5%;">
                            <tr>
                                <th>Type</th>
                                <th>Company</th>
                                <th>Model</th>
                                <th>Price</th>
                            </tr>
                            {% for part in parts %}
                                <tr>
                                    <td>{{ part.type }}</td>
                                    <td>{{ part.company }}</td>
                                    <td>{{ part.selection }}</td>
                                    <td>Rs. {{ part.price }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                        <form action="{% url 'Pay' %}" method="POST" style="margin-top: 2%;">
                            {% csrf_token %}
                            <button type="submit" class="btn-primary">Buy Now</button>
                        </form>
                    </center>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock content %}s